[Unit]
Description=Zerobot controller websocket server
After=network.target

[Service]
Environment="PYTHONUNBUFFERED=1"
ExecStart=${PYTHON} ${PROJECT}/controller.py
Type=simple
Restart=always
RestartSec=3
RestartSteps=3
RestartMaxDelaySec=60
KillSignal=SIGINT

[Install]
WantedBy=default.target
RequiredBy=network.target
