[Unit]
Description=Zerobot MediaMTX server
After=network.target

[Service]
ExecStart=/usr/local/bin/mediamtx ${PROJECT}/mediamtx.yml
Type=simple
Restart=always
RestartSec=3
RestartSteps=3
RestartMaxDelaySec=60
KillSignal=SIGINT

[Install]
WantedBy=default.target
RequiredBy=network.target
